// @mixin container {
//   width: 260px;
//   margin: 0 auto;
//   @media #{$tablet-widths} {
//     width: 668px;
//   }
//   @media #{$desktop-widths} {
//     width: 1050px;
//   }
// }
// @mixin modal-overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 20;
//   width: 100%;
//   height: 100%;
//   background: rgba(255, 255, 255, 0.9);
// }
